group=com.blackbaud
artifactId=${artifactId}
version=${version}

repositoryPublicUrl=http://nexus.conviocloud.com/content/groups/public
repositorySnapshotUrl=http://nexus.conviocloud.com/content/repositories/snapshots
repositoryReleaseUrl=http://nexus.conviocloud.com/content/repositories/releases